<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesheets/output.css">
	<title>Document</title>
</head>
<body class="m-0 p-0 box-border font-poppins bg-zinc-800 text-white">
	<nav class="w-full h-18 bg-zinc-700 flex items-center justify-between p-4">
		<div class="logo">
			<a href="/" class="text-2xl">URL</a>
		</div>
		<div class="menu flex items-center gap-4 text-lg">
				<a href="/">Home</a>
				<a href="/signup">
					<input type="button" value="Get Started" class="btn text-sky-500 cursor-pointer"></input>
				</a>
		</div>
	</nav>
	<div id="main" class=""></div>
</body>
</html>